%h1 Tasks
.row
  .col-md-3
    = render @tasks.new_tasks
  .col-md-3
    = render @tasks.queue
  .col-md-3
    = render @tasks.assigned
  .col-md-3
    = render @tasks.performing
.row
  .col-md-3
    = render @tasks.checking
  .col-md-3
    = render @tasks.ready
  .col-md-2
    = render @tasks.closed
