%h1 Tasks
.row
  .col-md-3
    = render @tasks.newest
  .col-md-3
    = render @tasks.queue
  .col-md-3
    = render @tasks.assigned
  .col-md-3
    = render @tasks.performed
.row
  .col-md-3
    = render @tasks.checked
  .col-md-3
    = render @tasks.ready
  .col-md-2
    = render @tasks.closed
