.row
  .col-xs-0.col-md-4
  .col-xs-12.col-md-4
    = render "devise/shared/links"
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .form-group
        = devise_error_messages!

        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control"

        = f.submit t('btn.send_password'), class: "btn btn-primary"
  .col-xs-0.col-md-4
