.panel.panel-default
  .panel-heading
    %h4= link_to project.title, project_path(project)
  .panel-body
    %p= project.description
  .panel-footer
    = link_to project.creater do
      %span.label.label-warning= project.creater
    - if project.creater?(current_user)
      = link_to project, method: :delete do
        %span.label.label-danger Delete
