%h1= @project.title
%p= @project.description
%ul.list-group
  Members:
  - @project.members.each do |member|
    %li.list-group-item
      = link_to member, member
- if @project.creater?(current_user)
  = render 'add_member', project: @project
  = link_to 'Delete project', @project, method: :delete, class: 'btn btn-danger'
- if @project.member?(current_user)
  = link_to 'Add task', new_project_task_path(@project), class: 'btn btn-primary'
%br
= link_to @project.creater do
  %span.label.label-warning= @project.creater
